/* CSS NAV BAR */

nav {
    width: 100%;
    padding: 12px 0;
    background-color: #ECF0F3;
    box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 5px #CECED1;
}

nav .menu {
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}

.menu .logo a {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #31344B;
    padding-left: 100%;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul a {
    margin: 0 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #31344B;
    display: inline-flex;
    padding: 10px 12px;
    box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 5px #CECED1;
    transition: all 0.3s ease;
}

.menu ul a:hover {
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 3px 3px 5px #CECED1;
    color: #3489DB;
}

nav label.button {
    color: #31344B;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

nav label.cancel {
    position: absolute;
    top: 25px;
    right: 30px;
}

#check {
    display: none;
}

@media (max-width: 920px) {
    .menu ul {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 100%;
        padding-top: 45px;
        height: 100%;
        background-color: #ECF0F3;
        box-shadow: 0 5px 10px #B0B0B5;
        z-index: 12;
        transition: all 0.5s ease;
    }
    .menu ul a {
        display: block;
        font-size: 23px;
        width: 100%;
        margin-top: 30px;
        box-shadow: none;
        text-align: center;
    }
    .menu ul a:hover {
        box-shadow: inset none;
    }
    nav label.bars {
        display: block;
    }
    .menu .logo {
        margin-left: auto;
        margin-right: auto;
    }
    .menu .logo a {
        padding: 0;
    }
    #check:checked~label.bars {
        display: none;
    }
    #check:checked~ul label.cancel {
        display: block;
    }
    #check:checked~ul {
        left: 0;
    }
}